* {
  margin: 0;
  padding: 0;
}

.wrap {
  background: #333333;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 500px;
}

header {
  align-items: flex-start;
  align-self: flex-start;
}

.menu1 {
  display: block;
}

.list {
  display: inline-block;
  flex-wrap: wrap;
  margin: 5px 20px;
}

.item {
  font-size: 15px;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  list-style-type: none;
}

@media only screen and (min-width: 100px) {
  header {
    width: calc(4.166666% * 21);
  }

  .menu1 {
    width: calc(4.166666% * 24);
  }

  .list {
    width: calc(4.166666% * 11);
  }

  .item {
    width: calc(4.166666% * 6);
  }
}

@media only screen and (max-width: 1200px) {
  .item {
    width: calc(4.166666% * 24);
  }
}

@media only screen and (max-width: 992px) {
  .item {
    width: calc(4.166666% * 12);
  }

  .item {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .item {
    width: calc(4.166666% * 24);
  }
}