@mixin row-flex() {
    // margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@mixin font-xs($w) {
  @media only screen and (max-width: 768px){
    font-size: #{$w};
    // margin: 0 15px;
  }
}
@mixin font-sm($w) {
  @media only screen and (max-width: 992px){
    font-size: #{$w};
    // margin: 0 15px;
  }
}
@mixin font-md($w) {
  @media only screen and (max-width: 1200px){
    font-size: #{$w};
    // margin: 0 15px;
  }
}
@mixin font-lg($w) {
  @media only screen and (max-width: 1800px){
    font-size: #{$w};
    // margin: 0 15px;
  }
}

@mixin col-xs($w) {
  @media only screen and (max-width: 768px){
    width: calc(4.166666% * #{$w});
    // margin: 0 15px;
  }
}
@mixin col-sm($w) {
  @media only screen and (max-width: 992px){
    width: calc(4.166666% * #{$w});
    // margin: 0 15px;
  }
}
@mixin col-md($w) {
  @media only screen and (max-width: 1200px){
    width: calc(4.166666% * #{$w});
    // margin: 0 15px;
  }
}
@mixin col-lg($w) {
  @media only screen and (max-width: 1800px){
    width: calc(4.166666% * #{$w});
    // margin: 0 15px;
  }
}
@mixin col($w) {
  @media only screen and (min-width: 100px){
    width: calc(4.166666% * #{$w});
    // margin: 0 15px;
  }
}

@mixin justify-xs($w) {
  @media only screen and (max-width: 768px){
    justify-content: #{$w};
  }
}
@mixin justify-sm($w) {
  @media only screen and (min-width: 768px){
    justify-content: #{$w};
  }
}
@mixin justify-md($w) {
  @media only screen and (min-width: 992px){
    justify-content: #{$w};
  }
}
@mixin justify-lg($w) {
  @media only screen and (min-width: 1200px){
    justify-content: #{$w};
  }
}
