// @mixin row-flex() {
//     // margin: 0 -15px;
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
// }
//
// @mixin font-xs($w) {
//   @media only screen and (max-width: 768px){
//     font-size: #{$w};
//     // margin: 0 15px;
//   }
// }
// @mixin font-sm($w) {
//   @media only screen and (max-width: 992px){
//     font-size: #{$w};
//     // margin: 0 15px;
//   }
// }
// @mixin font-md($w) {
//   @media only screen and (max-width: 1200px){
//     font-size: #{$w};
//     // margin: 0 15px;
//   }
// }
// @mixin font-lg($w) {
//   @media only screen and (max-width: 1800px){
//     font-size: #{$w};
//     // margin: 0 15px;
//   }
// }
//
// @mixin col-xs($w) {
//   @media only screen and (max-width: 768px){
//     width: calc(4.166666% * #{$w});
//     // margin: 0 15px;
//   }
// }
// @mixin col-sm($w) {
//   @media only screen and (max-width: 992px){
//     width: calc(4.166666% * #{$w});
//     // margin: 0 15px;
//   }
// }
// @mixin col-md($w) {
//   @media only screen and (max-width: 1200px){
//     width: calc(4.166666% * #{$w});
//     // margin: 0 15px;
//   }
// }
// @mixin col-lg($w) {
//   @media only screen and (max-width: 1800px){
//     width: calc(4.166666% * #{$w});
//     // margin: 0 15px;
//   }
// }
// @mixin col($w) {
//   @media only screen and (min-width: 100px){
//     width: calc(4.166666% * #{$w});
//     // margin: 0 15px;
//   }
// }
//
// @mixin justify-xs($w) {
//   @media only screen and (max-width: 768px){
//     justify-content: #{$w};
//   }
// }
// @mixin justify-sm($w) {
//   @media only screen and (min-width: 768px){
//     justify-content: #{$w};
//   }
// }
// @mixin justify-md($w) {
//   @media only screen and (min-width: 992px){
//     justify-content: #{$w};
//   }
// }
// @mixin justify-lg($w) {
//   @media only screen and (min-width: 1200px){
//     justify-content: #{$w};
//   }
// }

@import "D:/web/css_grid/scss/lib.scss";


*{
  margin: 0;
  padding: 0;

}
.wrap{
  background: #333333;
  @include row-flex;
  min-height: 500px;
}
header{
  @include col(21);
  align-items: flex-start;
  align-self: flex-start;
}
.menu1{
  display: block;
  @include col(24);
}
.list{
  display: inline-block;
  @include col(11);
  flex-wrap: wrap;
  margin: 5px 20px;
}
.item{
  @include col(6);
  @include col-md(24);
  @include col-sm(12);
  @include col-xs(24);
  @include font-sm(40px);
  font-size: 15px;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  list-style-type: none;
}
